on init
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

on fs
    setprop ro.crypto.fuse_sdcard true

on boot
    # HTC Camera switch
    chown system camera /sys/android_camera2/htcwc
    chmod 0660          /sys/android_camera2/htcwc
